program = 'support_team'
resolution = 1366
endu = False #need endu?
mana = True #need mana?
role = 'healer_ae_team'
buffcount = 3  #max: 9 buffs
pullcount = 3 #pulls until reg
endu_reg = endu
mana_reg = mana
team ={
    "heal": ("192.168.0.42", True),
    "thane": ("192.168.0.106", False),
    "bomb": ("192.168.0.28", False)
}
grp_size = 4

#Keybinds
pull_weapon = 'F1'
pull_key = '3'
sit_key = 'N'
sprint_key = 'R'
singleheal = '4'
grpheal = '5'


target_grp1 = ('SHIFT', 'F1')
target_grp2 = ('SHIFT', 'F2')
target_grp3 = ('SHIFT', 'F3')
target_grp4 = ('SHIFT', 'F4')
target_grp5 = ('SHIFT', 'F5')
target_grp6 = ('SHIFT', 'F6')
target_grp7 = ('SHIFT', 'F7')
target_grp8 = ('SHIFT', 'F8')


scrnx1 = int(resolution*0.03)
scrny1 = int(resolution*0.03)
scrnx2 = int(resolution*0.96)
scrny2 = int(resolution*0.37)
scrnw = scrnx2 - scrnx1
scrnh = scrny2 - scrny1

targetx1 = 4
targety1 = 4
targetx2 = 255
targety2 = 20
targetw = targetx2 - targetx1
targeth = targety2 - targety1

cchatx1 = 11
cchaty1 = 569
cchatx2 = 360
cchaty2 = 590
cchatw = cchatx2 - cchatx1
cchath = cchaty2 - cchaty1

healthbarx1 = 4
healthbary1 = 24
healthbarx2 = 255
healthbary2 = 32
healthbarw = healthbarx2 - healthbarx1
healthbarh = healthbary2 - healthbary1

endubarx1 = 4
endubary1 = 36
endubarx2 = 128
endubary2 = 40
endubarw = endubarx2 - endubarx1
endubarh = endubary2 - endubary1

manabarx1 = 132
manabary1 = 36
manabarx2 = 255
manabary2 = 40
manabarw = manabarx2 - manabarx1
manabarh = manabary2 - manabary1

targetbarx1 = 4
targetbary1 = 3
targetbarx2 = 255
targetbary2 = 19
targetbarw = targetbarx2 - targetbarx1
targetbarh = targetbary2 - targetbary1

hhelpx1 = 17
hhelpy1 = 43
hhelpx2 = 91
hhelpy2 = 68
hhelpw = hhelpx2 - hhelpx1 
hhelph = hhelpy2 - hhelpy1 
hhelpdis = 28

hhelp100 = 60000
hhelp90 = 78000
hhelp50 = 250000
hhelp10 = 430000 
hhelpdead = 227000
healthbarthreshold = 350000
endubarthreshold = 75000
manabarthreshold = 100000
targetbarthreshold = 450000
