resolution = '1366VM'
pull_weapon = 'F1'
sit_key = 'N'
pull_key = '3'
endu = False #need endu?
mana = True #need mana?
role = 'healer_ae_team'
buffcount = 3  #max: 9 buffs
pullcount = 3 #pulls until reg
grp_size = 2
endu_reg = endu
mana_reg = mana

heal_IP = "192.168.0.42"
thane_IP = "192.168.0.106"
bomb_IP = "192.168.0.28"
team = {"heal": heal_IP, "bomb": bomb_IP, "thane" : thane_IP}
grp_size = 3